<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div>
		<h4 class="title">Insert Cane</h4>
		<p th:text="${exists}"></p>
	</div>
	<form th:action="@{'/padrone/'+ ${padrone.id}+'/cane'}" method="POST" th:object="${cane}">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>
			<tr>
				<td>Età:</td>
				<td><input type="text" th:field="*{eta}" /></td>
				<td th:if="${#fields.hasErrors('eta')}" th:errors="*{eta}"></td>
			</tr>
			<tr>
				<td>Razza:</td>
				<td><input type="text" th:field="*{razza}" /></td>
				<td th:if="${#fields.hasErrors('razza')}" th:errors="*{razza}"></td>
			</tr>
			<tr>
				<td>Livello:</td>
				<td><input type="text" th:field="*{livello}" /></td>
				<td th:if="${#fields.hasErrors('livello')}" th:errors="*{livello}"></td>
			<tr>
			<tr>
				<td>Sesso:</td>
				<td><input type="text" th:field="*{sesso}" /></td>
				<td th:if="${#fields.hasErrors('sesso')}" th:errors="*{sesso}"></td>
			<tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
</body>
</html>