<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Cani</title>
</head>
<body>
    <div>
    	<h4>Cani</h4>
		<div>
			<table>
				<tr>
					<th>Nome</th>
				</tr>
				<tr th:each="cane : ${cani}">
					<td><a th:href="@{'/cane' + '/' + ${cane.id}}"><span th:text="${cane.nome}"></span></a></td>					
                </tr>
            </table>
    </div>
    </div>
</body>
</html>
