<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Corsi</title>
</head>
<body>
	<div>
		<h4>Corsi</h4>
		<div>
			<table>
				<tr>
					<th>Nome</th>
				</tr>
				<tr th:each="corso : ${corsi}">
					<td><a th:href="@{'/corso' + '/' + ${corso.id}}"><span th:text="${corso.nome}"></span></a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
