<!DOCTYPE HTML>
<!--
 Iridium by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Iridium by TEMPLATED</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700'
 rel='stylesheet' type='text/css'>
<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<script
 src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-panels.min.js"></script>
<script src="js/init.js"></script>
<link rel="stylesheet" href="/mainTheme/css/skel-noscript.css" />
<link rel="stylesheet" href="/mainTheme/css/style.css" />
<link rel="stylesheet" href="/mainTheme/css/style-desktop.css" />


  <!-- Header -->
  <div id="header">
   <div class="container"> 
    
    
    <!-- Logo -->
    <div id="logo">
     <h1><a href="#">S.R.A DOG TRAINING</a></h1>
     <span>Sense of Right Alliance</span>
    </div>
    
    <!-- Nav -->
    <nav id="nav">
     <ul>
      <li class="active"><a th:href="@{getHome}">Homepage</a></li>
      <li><a th:href="@{/addPadrone}">Area Riservata</a></li>
     </ul>
    </nav>
</div>
</div>
 <!-- Main -->
 <div id="main">
  <div class="container">
   <div class="row">

    <!-- Content -->
    <div id="content" class="8u skel-cell-important">
     <section>
      <header>
       <h2>
        Benvenuto in SRA
       </h2>
       <span class="byline">I migliori corsi di addestramento per cani del mondo.</span>
      </header>
      <a href="#" class="image full"><img src="images/pic07.jpg"
       alt="" /></a>
     </section>
    </div>

    
    
   </div>
  </div>
 </div>
</body>
</html>
