<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div>
		<h4 class="title">Insert Padrone</h4>
		<p th:text="${exists}"></p>
	</div>
	<form th:action="@{/padrone}" method="POST" th:object="${padrone}">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{nome}" /></td>
				<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
			</tr>
			<tr>
				<td>Cognome:</td>
				<td><input type="text" th:field="*{cognome}" /></td>
				<td th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></td>
			</tr>
			<tr>
				<td>Mail:</td>
				<td><input type="text" th:field="*{mail}" /></td>
				<td th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></td>
			</tr>
			<tr>
				<td>Telefono:</td>
				<td><input type="text" th:field="*{telefono}" /></td>
				<td th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></td>
			</tr>
			<tr>
				<td>citta:</td>
				<td><input type="text" th:field="*{city}" /></td>
				<td th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></td>
			</tr>
			<tr>
				<td>nascita:</td>
				<td><input type="text" th:field="*{dataDiNascita}" /></td>
				<td th:if="${#fields.hasErrors('dataDiNascita')}" th:errors="*{dataDiNascita}"></td>
			</tr>
			<tr>
				<td>utente:</td>
				<td><input type="text" th:field="*{utente}" /></td>
				<td th:if="${#fields.hasErrors('utente')}" th:errors="*{utente}"></td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
</body>
</html>