<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Corso</title>
</head>
<body>
	<div>
		<h4>Corso</h4>
		<div>
			<span th:text="${corso.nome}"></span>
		</div>
		<div>
			<span th:text="${corso.data}"></span>
		</div>
		<div>
			<span th:text="${corso.ora}"></span>
		</div>
		<div>
			<span th:text="${corso.addestratore}"></span>
		</div>
	</div>
	<a th:href="@{'/corso' + '/' + ${corso.id}     + '/addCane'}">Iscrivi Cane</a>
</body>
</html>