<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
		<h4 class="title">login Padrone</h4>
		<p th:text="${exists}"></p>
	</div>
	<form th:action="@{/loginPadrone}" method="POST" th:object="${padrone}">
		<table>
			<tr>
				<td>utente:</td>
				<td><input type="text" th:field="*{utente}" /></td>
				<td th:if="${#fields.hasErrors('utente')}" th:errors="*{utente}"></td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
	</table>
	</form>
</body>
</html>