<!DOCTYPE HTML>
<!--
	Iridium by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
<<<<<<< HEAD
	<head>
		<title>Iridium by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-panels.min.js"></script>
		<script src="js/init.js"></script>
		
			<link rel="stylesheet" href="mainTheme/css/skel-noscript.css" />
			<link rel="stylesheet" href="mainTheme/css/style.css" />
			<link rel="stylesheet" href="mainTheme/css/style-desktop.css" />
		
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header -->
		<div id="header">
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">Iridium</a></h1>
					<span>Design by TEMPLATED</span>
				</div>
				
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a th:href="@{/getHome}">Homepage</a></li>
						<li><a th:href="@{/getCentri}">Centri</a></li>
						<li><a th:href="@{/getAbout}">About</a></li>
						<li><a th:href="@{/getAreaRiservata}">Area Riservata</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<!-- Main -->
		<div id="main">
			<div class="container">
				<div class="row"> 
					
					<!-- Content -->
					<div id="content" class="8u skel-cell-important">
						<section>
							<header>
							<h2>
   									 ciao
    							</h2>
								<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
							</header>
							<a href="#" class="image full"><img src="mainTheme/images/pic07.jpg" alt="" /></a>
							<p>This is <strong>Iridium</strong>, a responsive HTML5 site template freebie by <a href="http://templated.co">TEMPLATED</a>. Released for free under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so use it for whatever (personal or commercial) &ndash; just give us credit! Check out more of our stuff at <a href="http://templated.co">our site</a> or follow us on <a href="http://twitter.com/templatedco">Twitter</a>.</p>
							<p>Sed etiam vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget lorem ipsum dolor.</p>
						</section>
					</div>
					
					<!-- Sidebar -->
					<div id="sidebar" class="4u">
						<section>
							<header>
								<h2>Pellentesque vulputate</h2>
							</header>
							<ul class="style">
								<li>
									<p class="posted">August 11, 2002  |  (10 )  Comments</p>
									<img src="mainTheme/images/pic04.jpg" alt="" />
									<p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
								</li>
								<li>
									<p class="posted">August 11, 2002  |  (10 )  Comments</p>
									<img src="mainTheme/images/pic05.jpg" alt="" />
									<p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
								</li>
								<li>
									<p class="posted">August 11, 2002  |  (10 )  Comments</p>
									<img src="mainTheme/images/pic06.jpg" alt="" />
									<p class="text">Nullam non wisi a sem eleifend. Donec mattis libero eget urna. Pellentesque viverra enim.</p>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<div id="featured">
			<div class="container">
				<div class="row">
					<div class="4u">
						<h2>Aenean elementum facilisis</h2>
						<a href="#" class="image full"><img src="mainTheme/images/pic01.jpg" alt="" /></a>
						<p>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum. Pellentesque viverra vulputate enim.</p>
						<p><a href="#" class="button">More Details</a></p>
					</div>
					<div class="4u">
						<h2>Fusce ultrices fringilla</h2>
						<a href="#" class="image full"><img src="mainTheme/images/pic02.jpg" alt="" /></a>
						<p>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum. Pellentesque viverra vulputate enim.</p>
						<p><a href="#" class="button">More Details</a></p>
					</div>
					<div class="4u">
						<h2>Etiam rhoncus volutpat erat</h2>
						<a href="#" class="image full"><img src="mainTheme/images/pic03.jpg" alt="" /></a>
						<p>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum. Pellentesque viverra vulputate enim.</p>
						<p><a href="#" class="button">More Details</a></p>
					</div>
				</div>
			</div>
		</div>


		<!-- Footer -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="4u">
						<section>
							<h2>Latest Posts</h2>
							<ul class="default">
								<li><a href="#">Pellentesque lectus gravida blandit</a></li>
								<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
								<li><a href="#">Phasellus nibh pellentesque congue</a></li>
								<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
								<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
							</ul>
						</section>
					</div>
					<div class="4u">
						<section>
							<h2>Ultrices fringilla</h2>
							<ul class="default">
								<li><a href="#">Pellentesque lectus gravida blandit</a></li>
								<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
								<li><a href="#">Phasellus nibh pellentesque congue</a></li>
								<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
								<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
							</ul>
						</section>
					</div>
					<div class="4u">
						<section>
							<h2>Aenean elementum</h2>
							<ul class="default">
								<li><a href="#">Pellentesque lectus gravida blandit</a></li>
								<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
								<li><a href="#">Phasellus nibh pellentesque congue</a></li>
								<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
								<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>
		
	</body>
=======
<head>
<title>Iridium by TEMPLATED</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href='http://fonts.googleapis.com/css?family=Arimo:400,700'
	rel='stylesheet' type='text/css'>
<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/skel-panels.min.js"></script>
<script src="js/init.js"></script>
<link rel="stylesheet" href="/static/css/skel-noscript.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/style-desktop.css" />

<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
</head>
<body class="homepage">

	<!-- Header -->
	<div id="header">
		<div class="container">

			<!-- Logo -->
			<div id="logo">
				<h1>
					<a href="#">Iridium</a>
				</h1>
				<span>Design by TEMPLATED</span>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="active"><a href="index.html">Homepage</a></li>
					<li><a href="left-sidebar.html">Left Sidebar</a></li>
					<li><a href="right-sidebar.html">Right Sidebar</a></li>
					<li><a href="no-sidebar.html">No Sidebar</a></li>
				</ul>
			</nav>
		</div>
	</div>

	<!-- Main -->
	<div id="main">
		<div class="container">
			<div class="row">

				<!-- Content -->
				<div id="content" class="8u skel-cell-important">
					<section>
						<header>
							<h2>
								<a th:href="@{/centri}">Lista dei centri</a>
								<a th:href="@{/addPadrone}">Padronr</a>
							</h2>
							<span class="byline">Integer sit amet pede vel arcu
								aliquet pretium</span>
						</header>
						<a href="#" class="image full"><img src="images/pic07.jpg"
							alt="" /></a>
						<p>
							This is <strong>Iridium</strong>, a responsive HTML5 site
							template freebie by <a href="http://templated.co">TEMPLATED</a>.
							Released for free under the <a href="http://templated.co/license">Creative
								Commons Attribution</a> license, so use it for whatever (personal or
							commercial) &ndash; just give us credit! Check out more of our
							stuff at <a href="http://templated.co">our site</a> or follow us
							on <a href="http://twitter.com/templatedco">Twitter</a>.
						</p>
						<p>Sed etiam vestibulum velit, euismod lacinia quam nisl id
							lorem. Quisque erat. Vestibulum pellentesque, justo mollis
							pretium suscipit, justo nulla blandit libero, in blandit augue
							justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor.
							Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis
							eget lorem ipsum dolor.</p>
					</section>
				</div>

				<!-- Sidebar -->
				<div id="sidebar" class="4u">
					<section>
						<header>
							<h2>Pellentesque vulputate</h2>
						</header>
						<ul class="style">
							<li>
								<p class="posted">August 11, 2002 | (10 ) Comments</p> <img
								src="images/pic04.jpg" alt="" />
								<p class="text">Nullam non wisi a sem eleifend. Donec mattis
									libero eget urna. Pellentesque viverra enim.</p>
							</li>
							<li>
								<p class="posted">August 11, 2002 | (10 ) Comments</p> <img
								src="images/pic05.jpg" alt="" />
								<p class="text">Nullam non wisi a sem eleifend. Donec mattis
									libero eget urna. Pellentesque viverra enim.</p>
							</li>
							<li>
								<p class="posted">August 11, 2002 | (10 ) Comments</p> <img
								src="images/pic06.jpg" alt="" />
								<p class="text">Nullam non wisi a sem eleifend. Donec mattis
									libero eget urna. Pellentesque viverra enim.</p>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div id="featured">
		<div class="container">
			<div class="row">
				<div class="4u">
					<h2>Aenean elementum facilisis</h2>
					<a href="#" class="image full"><img src="images/pic01.jpg"
						alt="" /></a>
					<p>Nullam non wisi a sem semper eleifend. Donec mattis libero
						eget urna. Donec leo, vivamus fermentum nibh in augue praesent a
						lacus at urna congue rutrum. Quisque dictum. Pellentesque viverra
						vulputate enim.</p>
					<p>
						<a href="#" class="button">More Details</a>
					</p>
				</div>
				<div class="4u">
					<h2>Fusce ultrices fringilla</h2>
					<a href="#" class="image full"><img src="images/pic02.jpg"
						alt="" /></a>
					<p>Nullam non wisi a sem semper eleifend. Donec mattis libero
						eget urna. Donec leo, vivamus fermentum nibh in augue praesent a
						lacus at urna congue rutrum. Quisque dictum. Pellentesque viverra
						vulputate enim.</p>
					<p>
						<a href="#" class="button">More Details</a>
					</p>
				</div>
				<div class="4u">
					<h2>Etiam rhoncus volutpat erat</h2>
					<a href="#" class="image full"><img src="images/pic03.jpg"
						alt="" /></a>
					<p>Nullam non wisi a sem semper eleifend. Donec mattis libero
						eget urna. Donec leo, vivamus fermentum nibh in augue praesent a
						lacus at urna congue rutrum. Quisque dictum. Pellentesque viverra
						vulputate enim.</p>
					<p>
						<a href="#" class="button">More Details</a>
					</p>
				</div>
			</div>
		</div>
	</div>


	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="4u">
					<section>
						<h2>Latest Posts</h2>
						<ul class="default">
							<li><a href="#">Pellentesque lectus gravida blandit</a></li>
							<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
							<li><a href="#">Phasellus nibh pellentesque congue</a></li>
							<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
							<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
						</ul>
					</section>
				</div>
				<div class="4u">
					<section>
						<h2>Ultrices fringilla</h2>
						<ul class="default">
							<li><a href="#">Pellentesque lectus gravida blandit</a></li>
							<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
							<li><a href="#">Phasellus nibh pellentesque congue</a></li>
							<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
							<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
						</ul>
					</section>
				</div>
				<div class="4u">
					<section>
						<h2>Aenean elementum</h2>
						<ul class="default">
							<li><a href="#">Pellentesque lectus gravida blandit</a></li>
							<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
							<li><a href="#">Phasellus nibh pellentesque congue</a></li>
							<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
							<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>

	<!-- Copyright -->
	<div id="copyright">
		<div class="container">
			Design: <a href="http://templated.co">TEMPLATED</a> Images: <a
				href="http://unsplash.com">Unsplash</a> (<a
				href="http://unsplash.com/cc0">CC0</a>)
		</div>
	</div>

</body>
>>>>>>> primavera
</html>