<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Cane</title>
</head>
<body>
    <div>
    	<h4>Cane</h4>
		<div>
			<span th:text="${cane.nome}"></span>
   		</div>
		<div>
			<span th:text="${cane.eta}"></span>
   		</div>
		<div>
			<span th:text="${cane.razza}"></span>
   		</div>
   		<div>
			<span th:text="${cane.livello}"></span>
   		</div>
   		<div>
			<span th:text="${cane.sesso}"></span>
   		</div>
    </div>
</body>
</html>