<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Padrone</title>
</head>
<body>
    <div>
    	<h4>Padrone</h4>
		<div>
			<span th:text="${padrone.nome}"></span>
   		</div>
		<div>
			<span th:text="${padrone.cognome}"></span>
   		</div>
		<div>
			<span th:text="${padrone.mail}"></span>
   		</div>
   		<div>
			<span th:text="${padrone.telefono}"></span>
   		</div>
   		<div>
			<span th:text="${padrone.dataDiNascita}"></span>
   		</div>
   		<div>
			<span th:text="${padrone.city}"></span>
   		</div>
   		<div>
			<span th:text="${padrone.utente}"></span>
   		</div>
    </div>
    <div>
    	<a th:href="@{'/padrone' + '/' + ${padrone.id} + '/cani'}">I tuoi Cani</a>
    </div>
    <div>
    	<a th:href="@{'/padrone' + '/' + ${padrone.id} + '/aggiungiCane'}">Aggiungi nuovo cane</a>
    </div>
    
</body>
</html>